
@import url("https://fonts.googleapis.com");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
     /* background-image: url('bg.jpg'); */
     /* background: url('vid.mp4'); */
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     height:100vh ;
}

.nav-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #FFC700;

    min-height: 12vh;
    /* background-color: #553c64; */
    /* background */
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid black;
}

.nav-blogs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: #553c642d;
    /* background-image: url('demo image.jpg'); */
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid black;
}

.shadow{
    box-shadow: -30px 30px 20px rgba(1,2,1,0.6);
}

.nav-proj{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: #553c6438;
    /* background-image: url('demo image.jpg'); */
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
    border-radius: 1rem;
}

.logo{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    /* font-size: 14px; */
}

